.root {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 32px 0;
}

.service {
    padding: 16px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.service:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.listInfo {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    row-gap: 16px;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listItem .label {
    font-size: 18px;
    font-weight: 500;
}

.listItem .value {
    font-size: 18px;

}

.button {
    background: var(--button-color);
    border-radius: 5px;
    height: 32px;
    display: block;
    padding: 0 12px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 16px auto 0;
}

.button:hover {
    background-color: var(--button-hover-color);
}
