.root {
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}


.root .bg_left {
    background-color: #fff;
}

.col-md-5, .col-xl-4, .col-md-7, .col-xl-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}


